<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376548133689-ielodr25kv5a94q5mb5ua29cvtd6e453.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376548133689-ielodr25kv5a94q5mb5ua29cvtd6e453</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>376548133689-dq4ifrf4ij4kijac7p83gfpflk25vccc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEgbGe4ZSKM52xrtXMjZWx92kCF_5wSls</string>
	<key>GCM_SENDER_ID</key>
	<string>376548133689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventBookingApp</string>
	<key>PROJECT_ID</key>
	<string>eventz-3a488</string>
	<key>STORAGE_BUCKET</key>
	<string>eventz-3a488.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376548133689:ios:f696e204872569736c36e8</string>
</dict>
</plist>